* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0 32px;
  background: #f5f5f5;
  font-family: "Euclid Circular A";
  animation: rotate 6s infinite alternate linear;
}

@media (min-width: 500px) {
  body {
    padding: 0;
  }
}

.background {
  position: fixed;
  top: -50vmin;
  left: -50vmin;
  width: 100vmin;
  height: 100vmin;
  border-radius: 47% 53% 61% 39% / 45% 51% 49% 55%;
  background: #65c8ff;
}

.background::after {
  content: "";
  position: inherit;
  right: -50vmin;
  bottom: -55vmin;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: #143d81;
}

  
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../../assests/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 70%;
    height: 600px;
    transition: 0.1s linear;
  }
  
  .banner h2 {
    font-size: 48px;
    color: #f8f8f8;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .banner button {
    border: 0;
    background: #ffffff;
    color: #222222;
    padding: 10px 24px;
    border-radius: 30px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
  }
  
  .container {
    width: 80%;
    max-width: 80%;
    padding: 10;
    margin: 10;
    margin-left: 10;
  }
  
  section {
    background: #ffffff;
  }
  
  section h2 {
    margin-top: 0;
    padding-top: 60px;
  }
  
  section p:last-child {
    padding-bottom: 60px;
  }