.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .contact-card {
    display: flex;
    width: 80%;
    background-color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form {
    flex: 1;
    padding: 20px;
  }
  
  .contact-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #168aff;
    text-align: center;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
  }
  
  .contact-form textarea {
    height: 150px;
  }
  
  .contact-form button {
    padding: 1rem 2.5rem;
  background-color: #168aff;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  }
  .contact-form button svg {
    margin-left: 0.75rem;
    font-size: 1.5rem;
  }
  .contact-form button:hover {
    background-color: #168aff;
  }
  .contact-form button:hover {
  
    background-color: #168aff;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
  .contact-info {
    flex: 1;
    background-color: #168aff;
    color: #fff;
    padding: 20px;
  }
  
  .contact-info h3 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center; 
    color: #fff; 
    font-weight: bold;
padding-bottom: 20px;}
  
.contact-info ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .contact-info li {
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .contact-info li svg {
    margin-right: 10px; /* Ajuste l'espace entre l'icône et le texte */
  }
  .contact-info li strong {
    margin-right: 10px; /* Ajuste l'espace entre le texte fort (strong) et le texte suivant */
  }